.single-blg-pst{
    display: grid;
    grid-template-columns: 70% 30%;
    border-top: 1px solid rgba(128, 128, 128, 0.200);
    border-bottom: 1px solid rgba(128, 128, 128, 0.200);
    width: 100%;
    padding: 1rem 0;

    .single-blg-pst-dets{
        display: flex;
        flex-direction: column;

        .blg-pst-header-section{
            display: flex;
            align-items: center;
            width: max-content;
            column-gap: .6rem;
            margin-bottom: 8px;

            .admin-profile-pc{
                object-fit: cover;
                width: 40px;
                display: flex;
                border-radius: 20px;
                overflow: hidden;
                cursor: pointer;

                img{
                    object-fit: cover;
                    width: 100%;
                }
            }
            .admin-name-pc{
                font-size: 1rem;
                font-weight: 700;
                cursor: pointer;
            }

            .admin-date-pc{
                font-size: .8rem;font-weight: 600;
                color: gray;
            }
        }

        .blg-pst-title-section{
            font-size: 1.20rem;
            font-weight: 700;
            display: inline-block;
            word-break: break-all;
            margin-bottom: .6rem;
            cursor: pointer;
            width: max-content;
        }

        .blg-pst-desc-section{
            display: -webkit-box; 
            -webkit-box-orient: vertical; 
            -webkit-line-clamp: 2; 
            overflow: hidden; 
            text-overflow: ellipsis;
            margin-bottom: 1.4rem;
            cursor: pointer;
        }

        .category-section{
            width: max-content;
            cursor: pointer;
            padding: 5px;
            font-size: 14px;
            font-weight: 500;
            border-radius: 10px;
            background-color: rgba(128, 128, 128, 0.068);
        }
    }

    .single-blg-pst-poster{
        height: 110px;
        overflow: hidden;
        display: flex;
        object-fit: cover;
        margin: auto auto;
        width: 85%;
        max-width: 170px;
        cursor: pointer;

        img{
            object-fit: cover;
            width: 100%;
        }
    }
}