.main-page-content{

    .main-page-listings{
        padding: 15px 7px;
        max-width: 1200px;
        align-self: center;
        place-items: center;
        margin: 0 auto;

        .blg-pst-pls-trnd-pls-prf{
            display: grid;
            grid-template-columns: 59% 40%;
        }
    }
}